{% load static %}
<footer class="footer">
    <div class="footer-grid">
      <div>
        <h3>EduAll</h3>
        <p>Learn new skills online with top instructors.</p>
      </div>
      <div>
        <h4>Navigation</h4>
        <p>Home</p><p>About</p><p>Courses</p>
      </div>
      <div>
        <h4>Contact Us</h4>
        <p>kothiwalinstitutetechnology.com</p>
        <p>0591 247 9707</p>
      </div>
      <div>
        <h4>Subscribe</h4>
        <input style="border-radius: 5px;" type="email" placeholder="Enter Your email">
      </div>
    </div>
    <p>© 2026 KITPS — Empowering Future Engineers. All rights reserved.</p>
  </footer>